* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.bg-color-lg {
  background-color: #f8fbf5;
  /* border: 2px solid red; */
}

/* NAVIGATION  */
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding-top: 30px;
  /* border: solid 1px red; */
}

li {
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}

.navigation-style {
  display: flex;
  justify-content: space-between;
}

.navigation-style li {
  padding: 0 15px;
}

/* LANDING PAGE */
#landing-page {
  display: flex;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 50px;
  /* border: 2px solid coral; */
}

.pizza-img {
  width: 500px;
}

.figo-head {
  font-size: 4.25rem;
}
.figo-information {
  font-size: 1.25px;
  padding: 20px 0;
  word-spacing: 4px;
}

.figo-text {
  width: 250px;
  height: 35px;
  border: none;
  outline: none;
  text-indent: 10px;
  box-shadow: 0 2px 2px 2px #ececec;
  border-radius: 5px;
}

.figo-btn {
  height: 35px;
  padding: 0 16px;
  background-color: #639d2b;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}

/* WELCOME TO FIGO PAGE  */

.chef-img {
  width: 480px;
}

.welcome-page {
  display: flex;
  padding-bottom: 100px;
}

.right-side {
  margin-left: 50px;
}

.yellow-heading{
    color: #febd00;
    font-size: 28px;
}

.welcome-text{
    font-size: 1.75rem;
}

.welcome-paragraph{
    font-size: 1.25rem;
    line-height: 1.5;
}

.welcome-page-btn{
    height: 50px;
    padding: 0 40px;
    background-color: #639d2b;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 1.25rem;
}

/* REASON TO CHOOSE US PAGE  */
.reasons-head{
    text-align: center;
}
.why-choose{
    font-size: 2.1875rem;
    padding: 17px 0;
}

.card-img{
    width: 70px;
    padding-bottom: 20px;
}

.card-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.card-text{
    text-align: center;
    width: 200px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 300px;
    /* border: 2px red solid; */
    height: 270px;
    border-radius: 7px;
    background-color: #f8fbf5;
    transition: 0.4s;
}

.card:hover{
    background-color: #fff;
    border-bottom: 5px solid #639d2b;
    box-shadow: 5px 2px 10px #d8d8d8;
}


/* EXPLORE OUR MENU PAGE  */
.menu-card-flexbox{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
}
.menu-card{
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 2px #ececec;
  transition: 0.4s;

}
.menu-card:hover{
  border-bottom: 5px solid #639d2b;
  box-shadow: 0 2px 2px 5px #ececec;
}

.menu-price{
  color: #59882B;
}

.food-menu{
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  font-size: 20px;
  color: #979797;
}
.list-food-hover:hover{
  color: #febd00;
  border-left: 2px solid #FEBD00;
  padding-left:5px ;
  cursor: pointer;
}

/* HISTORY PAGE  */
.history-flexbox{
  display: flex;
  padding-bottom: 100px;
}

/* NEWS PAGE  */
.news-card-flex{
  display: flex;
  padding-bottom: 100px;
}

.news-img{
  width: 350px;
}

.news-card{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 380px;
  align-items: start;
  margin:0 15px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px #ececec;
}
.news-p{
  font-size: 1.25rem;
}

.read-more{
  color: #febd00;
}

/* SUBSCRIPTION PAGE  */
.subs-textinput{
  width: 40%;
  margin-bottom: 100px;
  height: 40px;
  border-radius: 20px;
  text-indent: 1.25rem;
  border: none;
  outline: none;
  box-shadow: 0 2px 2px 2px #ececec;
}


/* THE FOOTER  */
.footer-flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-links{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 70px 0
}
.footer-heading{
  font-size: 1.25rem;
}

.footer-paragraph{
  font-size: 1.125rem;
}
.footer-head{
  font-size: 1.875rem;
}

.footer-img{
  width: 150px;
}
.slant{
  transform: rotate(-30deg);
}