* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.bg-color-lg {
  background-color: #f8fbf5;
  /* border: 2px solid red; */
}

/* NAVIGATION  */
#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding-top: 30px;
  /* border: solid 1px red; */
}

li {
  list-style: none;
}
.home-link {
  text-decoration: none;
  color: #333;
  padding-bottom: 5px;
  border-bottom: solid 2px transparent;
  transition: 0.4s;
}

.home-link:hover {
  border-bottom-color: #639d2b;
}

.navigation-style {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
}

.navigation-style li {
  padding: 0 15px;
}

/* LANDING PAGE */
#landing-page {
  display: flex;
  align-items: center;
  padding-top: 60px;
  margin-bottom: 50px;
  /* border: 2px solid coral; */
}

.logo{
  font-family: "Josefin Sans", sans-serif;
}

.figo-head {
  font-size: 4.25rem;
  font-family: "Josefin Sans", sans-serif;
}
.figo-information {
  font-size: 1.25px;
  padding: 20px 0;
  word-spacing: 4px;
}

.figo-text {
  width: 250px;
  height: 35px;
  border: none;
  outline: none;
  text-indent: 10px;
  box-shadow: 0 2px 2px 2px #ececec;
  border-radius: 5px;
}

.figo-btn {
  height: 35px;
  padding: 0 16px;
  background-color: #639d2b;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}

/* WELCOME TO FIGO PAGE  */

/* .chef-img {
  width: 480px;
} */

.welcome-page {
  display: flex;
  padding-bottom: 100px;
}

.right-side,
.left-side {
  flex: 1;
}
.left-side {
  padding-right: 20px;
}

.right-side {
  padding-left: 20px;
}

.yellow-heading {
  color: #febd00;
  font-size: 1.75rem;
  font-family: "Cookie", cursive;
}

.welcome-text {
  font-size: 1.35rem;
  font-family: "Josefin Sans", sans-serif;
}

.welcome-paragraph {
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.welcome-page-btn {
  height: 50px;
  padding: 0 40px;
  background-color: #639d2b;
  border: none;
  color: #fff;
  border-radius: 5px;
  font-size: 1.25rem;
}

/* REASON TO CHOOSE US PAGE  */
.reasons-head {
  text-align: center;
}
.why-choose {
  font-size: 2.1875rem;
  padding: 17px 0;
  font-family: "Josefin Sans", sans-serif;
}

.card-img {
  width: 70px;
  padding-bottom: 20px;
}

.card-flexbox {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}

.card-text {
  text-align: center;
  width: 200px;
  font-family: "Poppins", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 300px;
  /* border: 2px red solid; */
  height: 270px;
  border-radius: 7px;
  background-color: #f8fbf5;
  transition: 0.4s;
  margin: 5px;
}

.card h2 {
  text-align: center;
}

.card:hover {
  background-color: #fff;
  border-bottom: 5px solid #639d2b;
  box-shadow: 5px 2px 10px #d8d8d8;
}

/* EXPLORE OUR MENU PAGE  */
.menu-card-flexbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
}
.menu-card {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 300px;
  border-radius: 8px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  box-shadow: 0 2px 2px 2px #ececec;
  transition: 0.4s;
}
.menu-card:hover {
  border-bottom: 5px solid #639d2b;
  box-shadow: 0 2px 2px 5px #ececec;
}

.menu-price {
  color: #59882b;
}

.food-items {
  display: flex;
  grid-gap: 20px;
}

.food-sides{
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.food-menu {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200px;
  font-size: 1.25rem;
  color: #979797;
  font-family: "Poppins", sans-serif;
}


.list-food-hover {
  transition: 0.4s;
  padding-left: 5px;
  border-left: 2px solid transparent;
}
.list-food-hover:hover {
  color: #febd00;
  border-color: #febd00;
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: left;
}

/* HISTORY PAGE  */
.history-flexbox {
  display: flex;
  margin-bottom: 100px;
}

.side-history {
  flex: 1;
}

/* NEWS PAGE  */
.news-card-flex {
  display: flex;
  padding-bottom: 100px;
}

/* .news-img {
  max-width: 350px;
} */

.news-card {
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 380px;
  align-items: start;
  margin: 0 15px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 2px #ececec;
}
.news-p {
  font-size: 1.25rem;
}

.read-more {
  color: #febd00;
}

/* SUBSCRIPTION PAGE  */
.subs-textinput {
  width: 40%;
  margin-bottom: 100px;
  height: 40px;
  border-radius: 20px;
  text-indent: 1.25rem;
  border: none;
  outline: none;
  box-shadow: 0 2px 2px 2px #ececec;
}

/* THE FOOTER  */
.footer-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.extra-flex{
  display: flex;
  flex: 1;
}

.footer-links {
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  /* height: 200px; */
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 70px 0;
}

.footer-links li {
  margin-bottom: 10px;
}
.footer-heading {
  font-size: 1.25rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
}

.footer-paragraph {
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.footer-head {
  font-size: 1.875rem;
  font-family: "Josefin Sans", sans-serif;
  margin-bottom: 10px;
}

.footer-img {
  width: 150px;
}
.slant {
  transform: rotate(-30deg);
}



/* Media queries */

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

  /* head */
  #navigation {
    display: flex;
    flex-direction: column;
    width: auto;
  }
  .logo{
    margin-bottom: 20px;
    font-size: 2.4rem;
  }

  .figo-text{
    width: 180px;
    margin-bottom: 15px;
  }

/* welcome page  */
.welcome-page {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.chef-img{
  margin-bottom: 20px;
}

.welcome-paragraph {
  font-size: 0.8rem;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.welcome-page-btn{
  font-size:1rem ;
  padding: 0 15px;
}

/* history of figo page */
.history-flexbox{
  flex-direction: column-reverse;
}
 
.side-history{
  margin-top: 10px;
}
.welcome-text{
 margin: 10px 0;
}

/* news page  */
.news-card-flex{
flex-direction: column;
}

.news-card{
  margin: 10px 20px;
  border: #59882b solid 2px;
  box-shadow: none;
  
}

/* subscription page  */
.subs-textinput{
  width: 70%;
}


  .card-flexbox {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
  }

  /* menu page  */

  .food-items {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  .food-sides{
    flex-direction: column;
    margin: 0 50px;
  }


  /* footer  */
  .footer-img{
    display: none;
  }

  .extra-flex{
    flex-direction: column;
  }

  
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 958.98px) {
  .figo-head {
    font-size: 3.25rem;
    font-family: "Josefin Sans", sans-serif;
  }

  .welcome-paragraph {
    font-size: 0.8rem;
  }

  

  .menu-card-flexbox {
    flex-direction: column;
  }
  .food-menu {
    flex-direction: row;
    height: initial;
    margin-bottom: 2rem;
  }

  @media(min-width: 560px){
     .food-sides{
    flex-direction: row;
  }
  }
 

 
 

  .list-food-hover {
    margin: 0 10px;
    border-left: none;
    border-bottom: 2px solid transparent;
  }
  
}


.landing-page-side {
  flex: 1;
}

.footer-links{
  margin: 0 20px;
  flex: 1;
  /* height: 150px; */
  height: none;
}

.footer-paragraph {
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
}

